body {
  color: #333;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont,"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-feature-settings: "palt" 1;
  font-kerning: auto;
  line-height: 1.75;
  background-color: #fff;
  margin: 0;
}
.container {
  width: 1170px;
  padding: 0;
  margin: 0 auto;
}
header {
  background-color: #002C6D;
  padding: 0 35px;
  color: #fff;
  height: 113px;
  /* background-image: url(/template/img/template/headerbackground.jpg); */
  background-repeat: no-repeat;
}
#logo {
  padding: 0;
  float: left;
  /* width: 500px; */
  display: flex;
}
.title {
  font-size: 32px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 113px;
}
.spantitle {
  font-size: 18px;
  padding-left: 20px;
  line-height: 113px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
#search-box {
  height: 30px;
  background-color: #00356A !important;
  border: none;
  color: #000000;
  float: right;
  margin-top:10px;
}
.search_container {

}
.search-box-text {
  border: 1px solid #dfe1e5;
  background: #fff;
  padding: 3px 10px;
  height: 1.8em;
}
.search-box-submit {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 0.6em;
  height: 30px;
  width: 110px;
  border-color: #EEEEEE;
  background-color: #CECECE;
  background-image: none;
  filter: none;
  cursor: pointer;
  padding: 3px 10px;
  margin-top: 10px;
}
.header_navi_container {
  float: right;
}
.header_navi {
  float: left;
  margin: 15px 0 15px auto;
}
ul.header_navi li {
  display: inline-block;
  padding-left: 8px;
}
ul.header_navi li a {
  color: white;
  text-decoration: none;
  font-size:15px;
}
ul.header_navi li a:hover {
  text-decoration: underline;
}
.triangle {
  position: relative;
  padding-left: 13px;
}
.triangle::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: solid 6px transparent;
  border-left: solid 6px white;
  top: 55%;
  left: 0;
  margin-top: -5px;
  margin-right: 5px;
}
.triangle-black {
  position: relative;
}
.triangle-black::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: solid 7px transparent;
  border-left: solid 7px rgb(194, 185, 185);
  top: 50%;
  left: 0;
  margin-top: -5px;
  margin-right: 50px;
}
.navbar-default {
  background-color: #f3ede5;
  border-bottom: solid 2px #878384;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f3ede5;
  border-color: #878384;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav li {
  position: relative;
}
.nav.navbar-nav {
  display: table;
  margin: auto;
  float: none;
}
.navbar-nav>li {
  display: table-cell;
  float: none;
}
.home {
  border-left: 1px solid #878384;
}
.navbar-nav>li>a  {
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #878384;
}
.navbar-default .navbar-nav>li>a {
  color: #002c6d;
}
.navbar-default .navbar-nav>li>a:hover{
  color: white;
  background-color: #878384;
}
.nav>li>a {
  padding: 15px 30px;
  display: block;
  font-size: 15px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
ul.dropdown-menu {
  padding: 10px 20px;
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.dropdown-menu {
  font-size: 14px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}
.dropdown-menu>li>div>a {
  display: block;
  padding: 3px 50px 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu>li>div>a:hover{
  color: white;
  background-color: #878384;
}

.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
ul.dropdown-menu li {
  display: block;
  text-align: left;
}
ul.dropdown-menu li a {
  display: block;
  text-align: left;
  background-repeat: no-repeat;
  border: none;
  font-weight: bold;
  color: #002c6d;
  padding-left: 20px;
}